<div class="container">
    <div class="row">
        <h4 class="col-md-3">保育施設一覧</h4>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>施設ID</th>
                    <th>施設名</th>
                    <th>電話番号</th>
                </tr>
            </thead>
            <tbody>
                <% @daycares.each do |daycare| %>
                <tr>
                    <td><%= daycare.id %></td>
                    <td><%= link_to daycare.daycare_name, daycare_path(daycare.id) %></td>
                    <td><%= daycare.phone %></td>
                    <td>
                    <div id="star-rate<%= daycare.id%>"> </td>
                        <script>
                            $('#star-rate<%= daycare.id %>').empty();
                            $('#star-rate<%= daycare.id%>').raty({
                                size      : 36,
                                starOff   : '<%= asset_path('star.off.png') %>',
                                starOn    : '<%= asset_path('star.on.png') %>',
                                half      : false,
                                readOnly: true,
                                score: <%= daycare.star %>,
                            });
                        </script>
                    </div>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>