<div class="container">
    <div class="row">
        <h4 class="col-md-6">保育施設一覧</h4>
        <div class="row justify-content-end mb-4">
            <%#= link_to '新しい順', daycares_path(latest: "true") %>
            <%#= link_to '古い順', daycares_path(old: "true") %>
            <%#= link_to '評価の高い順', daycares_path(star_count: "true") %>

        </div>
        <div class="row justify-content-end mb-4">
          <%= form_with url: daycares_index_path, method: :get, local: true do |f| %>
          <%= f.text_field :search %>
          <%= f.submit '検索する', name: nil %>
          <% end %>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>施設ID</th>
                    <th>施設名</th>
                    <th>電話番号</th>
                    <th>コメント</th>
                </tr>
            </thead>
            <tbody>
                <% @daycares.each do |daycare| %>
                <tr>
                    <td><%= daycare.id %></td>
                    <td><%= link_to daycare.daycare_name, daycare_path(daycare.id) %></td>
                    <td><%= daycare.phone %></td>
                    <!--<td><%#= l daycare.created_at %></td>-->


                    </div></td>
                    <td>
                        <% if daycare.comments.present? %>
                        <%= daycare.comments[0].comment %>
                        <% else %>
                            <p>No comment found</p>
                        <% end %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>