<div class="container">
  <div class="row">
    <h4>保育施設詳細</h4>
      <%= @daycare.inspect %>
      <% if user_signed_in? %>
      <div class="mb-3 row">
        <p class="col-md-3">保育施設名</p>
        <h5 class="col-md-5">
          <%= @daycare_name %>
        </h5>
      </div>
      <div class="mb-3 row">
        <p class="col-md-3">電話番号</p>
        <h5 class="col-md-5">
          <%= @daycare.phone %>
        </h5>
      </div>
      <div class="mb-3 row">
        <p class="col-md-3">施設類型</p>
        <h5 class="col-md-5">
         <%= @daycare.pattern %>
        </h5>
      </div>
      <div class="mb-3 row">
        <p class="col-md-3">開所曜日</p>
        <h5 class="col-md-5">
         <%= @daycare.dayaweek %>
        </h5>
      </div>
      <div class="mb-3 row">
        <p class="col-md-3">開所時間（平日）</p>
        <h5 class="col-md-5">
         <%= @daycare.weekday %>
        </h5>
      </div>
      <div class="mb-3 row">
        <p class="col-md-3">開所時間（土曜日）</p>
        <h5 class="col-md-5">
         <%= @daycare.sat %>
        </h5>
      </div>
      <div class="mb-3 row">
        <p class="col-md-3">開所時間（祝・日）</p>
        <h5 class="col-md-5">
         <%= @daycare.sun %>
        </h5>
      </div>
      <div class="mb-3 row">
        <p class="col-md-3">利用定員数</p>
        <h5 class="col-md-5">
         <%= @daycare.capacity %>
        </h5>
      </div>
      <div class="mb-3 row">
        <p class="col-md-3">一時預かり事業の実施</p>
        <h5 class="col-md-5">
         <%= @daycare.short_time %>
        </h5>
      </div>
      <% end %>
      <div>
        <p>コメント件数：<%= @post.post_comments.count %></p>
        <% @post.post_comments.each do |post_comment| %>
          <p><%#= image_tag post_comment.user.get_profile_image(100,100) %></p>
          <%= post_comment.user.name %>
          <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@post, @post_comment],url:post_comments_path do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
      <div id="star-rate<%= @daycare.id%>">
        <script>
          $('#star-rate<%= @daycare.id %>').empty();
          $('#star-rate<%= @daycare.id%>').raty({
            size      : 36,
            starOff   : '<%= asset_path('star.off.png') %>',
            starOn    : '<%= asset_path('star.on.png') %>',
            half      : false,
            readOnly  : true,
            score: <%= @daycare.star %>,
          });
        </script>
      </div>
  </div>
</div>
