<div class="container">
  <h4 class="center">保育施設詳細</h4>
  <div class="row">
  <%#= @daycare.inspect %>
    <p class="col-md-6 text-nowrap" "mb-3 row">保育施設名</p>
    <h5 class="col-md-6">
      <%= @daycare.daycare_name %>
    </h5>
    <p class="col-md-6 text-nowrap" "mb-3 row">電話番号</p>
    <h5 class="col-md-6">
      <%= @daycare.phone %>
    </h5>
    <p class="col-md-6 text-nowrap" "mb-3 row">施設類型</p>
    <h5 class="col-md-6">
      <%= @daycare.pattern %>
    </h5>
    <p class="col-md-6 text-nowrap" "mb-3 row">開所曜日</p>
    <h5 class="col-md-6">
     <%= @daycare.dayaweek %>
    </h5>
    <p class="col-md-6 text-nowrap" "mb-3 row">開所時間（平日）</p>
    <h5 class="col-md-6">
     <%= @daycare.weekday %>
    </h5>
    <p class="col-md-6 text-nowrap" "mb-3 row">開所時間（土曜日）</p>
    <h5 class="col-md-6">
     <%= @daycare.sat %>
    </h5>
    <p class="col-md-6 text-nowrap" "mb-3 row">開所時間（祝・日）</p>
    <h5 class="col-md-6">
     <%= @daycare.sun %>
    </h5>
    <p class="col-md-6 text-nowrap" "mb-3 row">利用定員数</p>
    <h5 class="col-md-6">
     <%= @daycare.capacity %>
    </h5>
    <p class="col-md-6 text-nowrap" "mb-3 row">一時預かり事業の実施</p>
    <h5 class="col-md-6">
     <%= @daycare.short_time %>
    </h5>
    <div class="container">
      <p>コメント件数：<%= @daycare.comments.count %></p>
      <% @daycare.comments.each do |comment| %>
        <p><%#= image_tag post_comment.user.get_profile_image(100,100) %></p>
        <%= comment.user.name %>
        <%= comment.comment %>
        <%= comment.created_at.strftime('%Y/%m/%d') %>
          <div class="star-rate<%= comment.id%>">
              <script>
                raty(
                  document.querySelector('.star-rate<%= comment.id%>'),
               {
                  size: 36,
                  starOff : '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  half: false,
                  readOnly: true,
                  score: <%= comment.rate %>,
                }

                );

              </script>
             </div>
      <% end %>
    </div>
    <div class="col-md-2 offset-md-5">
      <br><%= link_to "編集する", edit_admin_daycare_path, class: "btn btn-lg btn-success" %></br>
      <br><%= link_to '削除する', admin_daycare_path(@daycare.id),method: :delete, "data-confirm"=>"本当に消しますか？" %><br>
    </div>
  </div>
</div>