<!DOCTYPE html>
<html>
  <head>
    <title>HoikuNet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/cd2c4935d0.js" crossorigin="anonymous"></script>
    <%= render 'layouts/header' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--==============レイアウトを制御する独自のCSSを読み込み===============-->
  </head>

  <body>
    <div id="particles-js"></div>
    <div id="wrapper">
      <%= yield %>
      <%= render 'layouts/footer' %>
      <!--/wrapper-->
    </div>



    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
      particlesJS("particles-js", {
      "particles":{
        "number":{
          "value":40,//この数値を変更すると桜の数が増減できる
          "density":{
            "enable":true,
            "value_area":1121.6780303333778
          }
        },
        "color":{
          "value":"#fff"
        },
        "shape":{
          "type":"image",//形状は画像を指定
          "stroke":{
            "width":0,
          },
          "image":{
            "src": "http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-6/img/flower.png",//画像を指定
            "width":120,
            "height":120
          }
        },
        "opacity":{
          "value":0.06409588744762158,
          "random":true,
          "anim":{
            "enable":false,
            "speed":1,
            "opacity_min":0.1,
            "sync":false
          }
        },
        "size":{
          "value":8.011985930952697,
          "random":true,//サイズをランダムに
          "anim":{
            "enable":false,
            "speed":4,
            "size_min":0.1,
            "sync":false
          }
        },
        "line_linked":{
          "enable":false,
        },
        "move":{
          "enable":true,
          "speed":6,//この数値を小さくするとゆっくりな動きになる
          "direction":"bottom-right",//右下に向かって落ちる
          "random":false,//動きはランダムにしない
          "straight":false,//動きをとどめない
          "out_mode":"out",//画面の外に出るように描写
          "bounce":false,//跳ね返りなし
          "attract":{
            "enable":false,
            "rotateX":281.9177489524316,
            "rotateY":127.670995809726
          }
        }
      },
      "interactivity":{
        "detect_on":"canvas",
        "events":{
          "onhover":{
            "enable":false,
          },
          "onclick":{
            "enable":false,
          },
          "resize":true
        }
      },
      "retina_detect":false
    });
    </script>
  </body>
</html>
